footer {
    background-color: #f8f8f8;
    height: 88px;
    border-top: 1px solid #eee;
}
.footer-div {
    position: relative;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}
.copyright {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}