footer {
    background-color: #f8f8f8;
    height: 60px;
    border-top: 1px solid #eee;
    margin: 32px 0 0;
    padding: 16px;
}
.footer-div {
    position: relative;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}
.copyright {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}