main {
    min-height: calc(100vh - 162px);
}
main .container {
    padding: 28px;
    max-width: 1200px;
    margin: 0 auto;
}
main .container h1 {
    text-align: center;
    size: 28px;
    padding-bottom: 20px;
}
main .container h2 {
    size: 26px;
    padding-bottom: 10px;
}
main .container h3 {
    size: 20px;
    padding-bottom: 8px;
}
main .container h4 {
    size: 18px;
    padding-bottom: 5px;
}
main .container p {
    size: 16px;
    text-align: justify;
    padding-bottom: 2px;
}
main .container .img {
    display: flex;
    margin: 0 auto;
    width: 100%;
}